@import "tailwindcss";

@layer base {
  /* Pixel-art base styles */
  * {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(243 244 246);
    font-family: 'Press Start 2P', 'Courier New', monospace;
  }

  /* Disable smooth font rendering for pixel-art aesthetic */
  body, button, input, select, textarea {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  /* Pixel-art button style */
  .pixel-button {
    border-width: 2px;
    border-color: black;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  }

  .pixel-button:hover {
    background-color: rgb(243 244 246);
  }

  .pixel-button:active {
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
    transform: translate(1px, 1px);
  }

  /* Pixel-art card style */
  .pixel-card {
    border-width: 2px;
    border-color: black;
    background-color: white;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  }

  /* Pixel-art border utilities */
  .pixel-border {
    border-width: 2px;
    border-color: black;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  }

  /* Explicit pixelated image rendering */
  .pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
}
